<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069213873338-d64nt8adqar3r0r5nu36tod8id73o847.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069213873338-d64nt8adqar3r0r5nu36tod8id73o847</string>
	<key>API_KEY</key>
	<string>AIzaSyA0EDV1OZ2PWjf8CiR080sg-E0LP9qwEII</string>
	<key>GCM_SENDER_ID</key>
	<string>1069213873338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukaszmatulwewicz.pizzaWarszawa</string>
	<key>PROJECT_ID</key>
	<string>pizza-warszawa-1984</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-warszawa-1984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069213873338:ios:06048a5e4a7a2f2a2e7e83</string>
</dict>
</plist>